@page
@model Primark.Pages.UploadFile.UploadModel
@{
}

<h1>Upload a Shopping Item </h1>
<br />

<div class="col-md-4">
    <form method="post" enctype="multipart/form-data">

        <div>
            <label>Select an image file to upload</label>
            <input type="file" asp-for="CusFile" onchange="readURL(this)" accept="image/*" />
        </div>
        <br />

        <div>
            <label>@Html.DisplayNameFor(model => model.CusFileRec.CustomerFName)</label>
            <input type="text" asp-for="CusFileRec.CustomerFName" class="form-control" />
        </div>
        <div>
            <label>@Html.DisplayNameFor(model => model.CusFileRec.CustomerLName)</label>
            <input type="text" asp-for="CusFileRec.CustomerLName" class="form-control" />
        </div>
        <br />
        <div>
            <input type="submit" value="Upload" class="btn btn-primary" />
        </div>
    </form>
</div>

<br />
<div>
    <img id="Img" src="" alt="Shopping Picture" style="width: 200px;" />
</div>

<br /> 

<div>
    <a asp-page="/AdminPages/AdminIndex">Back to Main Admin</a>
</div>