@page
@model Primark.Pages.AdminPages.AdminIndexModel
@{
}

<h1>Admin Page</h1>
<br />

<h2>Welcome @Model.FirstName</h2>

<br />
<div class="row">

    <div class="col-sm-2">
        <p><a asp-page="/Users/Create">Create User</a></p>
    </div>

    <div class="col-sm-2">
        <p><a asp-page="/AdminPages/ViewUsers">View User</a></p>
    </div>

    <div class="col-sm-2">
        <p><a asp-page="/UploadFile/Upload">Upload File</a></p>
    </div>

    <div class="col-sm-2">
        <p><a asp-page="/ViewFile/View">View File</a></p>
    </div>

    <div class="col-sm-2">
        <p><a asp-page="/Logout/Logout">Logout</a></p>
    </div>

</div>


